<!-- forgot_password.html -->
{% extends "index.html" %}


{% block start %}

<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        {% include "alert.html" %}
        <div class="col-md-6">
            <div class="card">
                {% if error_message %}
                <div class="alert alert-danger mt-3" role="alert">
                    {{ error_message }}
                </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">Forgot Password</h5>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <button style="margin-top: 20px;" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
